<div class="container">
    <!-- <div class="header text-center">
      <h1>Portfolio Doctor</h1>
      <h5>India’s first portfolio fitness center</h5>
    </div> -->
    <div class="main-content">
      <p>Our unique and exhaustive research on investment portfolio reveals all
        hazards and opportunities your investments carry. Learn strategies to
        strengthen your portfolio and understand A-Z of capital markets.</p>
        <p>
        No human intervention. All research activities are carried out by
        sophisticated algorithms designed by sophisticated analysts on a secure
        server.</p>
    </div>
    <div class="footer text-center">
      <button mat-raised-button color="primary" (click)="openDialog()">Know More</button>
    </div>
</div>